
/* Mobile */
@media (min-width:200px) {
    .insidebox {
        padding: 0.5vw;
        font-size: small;
    }
}

/* Tablet */
@media (min-width:600px) {
    .insidebox {
        padding: 0.8vw;
        font-size: small;
    }
}

/* Desktop */
@media (min-width:900px) {
    .insidebox {
        padding: 1.3em;
        font-size: small;
    }
}

/*AJUSTE O EIXO Z DO LAYOUT(../layout/schema_padrao.css) - NESSE MOMENTO O MODAL DEVE SOBREPOR TUDO...  */
.modal {
    z-index: 999999;
  }