main {
    background-color: #028F4B;
}

.logo-header {
    padding: 1em 0px;
}

.page-info {
    color: #028F4B;
    font-size: 30px;
}

.form-text-detail {
    color: #028F4B;
    font-size: 15px;
    padding-top: 40px;
}

.password-reset-box {
    background-color: #D9D9D9;
    max-width: 340px;
    min-height: 330px;
    padding: 3em;
}