.text-shadow {
  color: white;
  text-shadow: 2px 2px 4px black;
}

figcaption {
  color: white;
  text-shadow: 2px 2px 4px black;
}






.img-rounded {
  border-radius: 20px; /* Bordas mais arredondadas */
  width: 100%; /* Largura fixa para 100% do contêiner */
  height: 250px; /* Altura fixa */
  object-fit: cover; /* Garante que a imagem cubra o espaço designado sem perder sua proporção */
  transition: transform 0.3s ease-in-out; /* Transição suave para o efeito de zoom */
}

/* Efeito de zoom ao passar o mouse */
.categoria:hover .img-rounded {
  transform: scale(1.1); /* Aumenta a imagem em 10% */
}

/* Estilização para posicionar o texto sobre a imagem */
.categoria {
  position: relative;
  text-align: center; /* Centraliza o texto */
}

.categoria span {
  position: absolute;
  top: 50%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste fino para centralização perfeita */
  color: white; /* Cor do texto */
  font-weight: bold; /* Texto em negrito */
  font-size: 24px; /* Tamanho do texto */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contorno preto */
  z-index: 10; /* Garante que o texto fique sobre a imagem */
}






.texto p {
  font-family: 'Poppins', sans-serif;
  color: #028F4B;
  margin-bottom: 0;
  text-indent: 1.5em;
  margin-top: 0;
  text-align: justify;
  padding: 15px 10px;
}
.titulo2{
  color: #f5f5f5;
  background-color: #028F4B;
}
.titulo2 h4{
  text-align: center;
}
