.text-shadow {
  color: white;
  text-shadow: 2px 2px 4px black;
}

figcaption {
  color: white;
  text-shadow: 2px 2px 4px black;
}

.carousel-item img {
  max-height: 600px;
}

@media screen and (max-width: 1000px) {
  .carousel-caption {
    display: block !important;
  }

  .carousel-caption h4,
  .carousel-caption p {
    text-align: center;
    font-size: 2vw;
    width: 80%;
    margin: 10px auto;
  }

  .carousel-caption .image-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .carousel-caption .image-item img {
    width: 5vw;
    height: 5vw;
    margin-right: 5px;
  }

  .carousel-caption .image-item figcaption {
    font-size: 2vw;
  }
}

.texto p {
  font-family: 'Poppins', sans-serif;
  color: #028F4B;
  margin-bottom: 0;
  text-indent: 1.5em;
  margin-top: 0;
  text-align: justify;
  padding: 15px 10px;
}
.titulo2{
  color: #f5f5f5;
  background-color: #028F4B;
}
.titulo2 h4{
  text-align: center;
}
