body {
    background-color: #f5f5f5; /* Cor de fundo do corpo */
    color: #028F4B; /* Cor do texto do corpo */
      }           
          .container {
            display: flex;
          }
      
          .text {
            flex: 1;
          }
      
          .table-container {
            float: right;
            margin-left: 20px;
          }
      
          table {
            width: 100%;
            border-collapse: collapse;
          }
      
          th {
            background-color: #028F4B; /* verde */
            color: #fff; /* texto em branco */
          }
      
          tr:nth-child(even) {
            background-color: #ffffff; /* branco */
            color: #028F4B;
          }