*{
    font-family: 'Poppins', sans-serif;
}
footer {
    background-color: #028F4B;
}


.nav-fluid-content{
  display: none;
}

.nav-fluid-content-canvas{
  display: flex;
}

.bi-person-circle, .bi-github, .bi-chevron-double-down{
  font-size: 3em;
}

.down-orientation{
  margin-top: 5em;
  margin-bottom: 5em;
}

.offcanvas-body{
  background-color: #F5F5F5
}



.texto p {
  margin-bottom: 0;
  text-indent: 1.5em;
  margin-top: 0;
  text-align: justify;
  padding: 15px 10px;
}
@media (min-width: 992px) {
  .nav-fluid-content {
    display: flex;
  }
  .nav-fluid-content-canvas {
    display: none;
  }
}  
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
 
main {
  background-color: #f1f1f1;
  flex-grow: 1;
  padding-top: 1em;
  padding-bottom: 1em;
}  
footer {
  background-color: #028F4B;
}
 
.down-orientation{
    margin-top: 5vw;
    margin-bottom: 5vw;
  }
  
  .sign-up-button {
    font-size: 2vw;
    display: block;
    margin: auto;
  }
#link-github {
    color: black;
}
.conteiner{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}
.col img{
  width: 30%;
  height: auto;
  border-radius: 30px;
  padding:auto;
  margin: 20px 20px;
}
.text-service-info {
  text-indent: 1.5em; 
  text-align:justify;
  font-size: 1.4vw;
}

.title-service-info {
  color: #028F4B;
  font-weight: 900;
}

.icon-size {
  font-size: 4vw;
}

.down-orientation{
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.sign-up-button {
  font-size: 2vw;
  display: block;
  margin: auto;
}