*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f5f5f5;
    color: #028F4B;
}
footer {
    background-color: #028F4B;
}
.conteiner {
    display: flex;
}
.conteiner img{
    width: 30%;
    height: auto;
    border-radius: 30px;
    padding:auto;
    margin: 20px 20px;
}
.conteiner p {
    text-indent: 1.5em; 
    display: block;
    text-align:justify;
    padding: 15px 20px;
    float: right;
    margin-top: 20px;
}
.titulo{
    color: #f5f5f5;
    background-color: #028F4B;
}
.titulo h3{
    margin: 10px;
}
.conteiner2{
    display: flex;
}
.conteiner2 img{
    width: 30%;
    height: auto;
    border-radius: 30px;
    padding:auto;
    margin: 20px 20px;

}
.conteiner2 p {
    text-indent: 1.5em; 
    display: block;
    text-align:justify;
    float: right;
    margin-top: 20px;
    padding: auto;
    margin: 15px 15px;
}