body {
    background-color: #ddd; /* Cor de fundo do corpo */
    color: #028F4B; /* Cor do texto do corpo */
      font-family: Poppins, sans-serif;
      font-size: 12pt;
      line-height: 1.5;
      }
  
      header {
        position: fixed;
         top: 0;
        left: 0;
         width: 100%;
        background-color: #ffff; /* Cor de fundo do cabeçalho */
        color: #028F4B; /* Cor do texto do cabeçalho */
          }
          footer{
            background-color: #028F4B;
           }              
          .container {
            display: flex;
          }
      
          .text {
            flex: 1;
          }
      
          .table-container {
            float: right;
            margin-left: 20px;
          }
      
          table {
            width: 100%;
            border-collapse: collapse;
          }
      
          th {
            background-color: #028F4B; /* verde */
            color: #fff; /* texto em branco */
          }
      
          tr:nth-child(even) {
            background-color: #ffffff; /* branco */
            color: #028F4B;
          }