body{
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav-fluid-content{
  display: none;
}

.nav-fluid-content-canvas{
  display: flex;
}

.bi-person-circle, .bi-github, .bi-chevron-double-down{
  font-size: 3em;
}

.offcanvas-body{
  background-color: #F5F5F5
}

@media (min-width: 992px) {
  .nav-fluid-content {
    display: flex;
  }
  .nav-fluid-content-canvas {
    display: none;
  }
}

header {
  background-color: #FFFFFF;
  position: sticky;
  top: 0;
  z-index: 9999;
}

main {
  background-color: #f1f1f1;
  flex-grow: 1
}

footer {
  background-color: #028F4B;
  position: relative;
  bottom: 0;
}

#link-github {
  color: black;
}